/*==================
 Get Fonts
==================*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic);

/*==================
 General
==================*/
body {
  background: url('../images/minions-bob-kevin-and-stuart-in-new_york-Minions-Movie-Wallpaper-2015.jpg') top no-repeat;
  background-color: #fcfcfc;
  background-attachment: fixed;
  background-size: cover;

  font-family: 'Roboto', sans-serif;
}
div.page-wrapper {
  position: relative;

  width: 960px;
  margin-right: auto;
  margin-left: auto;

  background-color: rgba(225, 245, 254,0.8);
}
a:link {
  text-decoration: none;

  color: #333;

  font-family: 'Roboto', sans-serif;
}
a:link {
  font-family: 'Roboto', sans-serif;
}
abbr[title] {
  border-bottom: none;
}
/*==================
 Header
==================*/
section.intro {
  padding-right: 15px;
  padding-left: 15px;
}
section.intro > header[role="banner"] {
  display: flex;

  height: 150px;
  padding-top: 50px;

  background-image: url('../images/tumblr_static_tumblr_static__640.png');
  background-repeat: no-repeat;
  background-position: right 10px;
  background-size: 230px;

  justify-content: space-between;
}

section.intro > header[role="banner"] > h1  {
  height: 50px;
  margin-left: -15px;
  padding-right: 15px;
  padding-left: 130px;  color: #01579B;
  border-top: 1px solid rgba(2, 119, 189,0.75);
  border-bottom: 1px solid rgba(2, 119, 189,0.75);
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);

  font-size: 2.5em;
  font-weight: 800;
  line-height: 120%;
}
section.intro > header[role="banner"] > h2  {
  position: relative;
  top:70px;

  height: 30px;
  margin-right: -15px;
  padding-top: 5px;
  padding-right: 210px;
  padding-bottom: 5px;
  padding-left: 15px;

  text-align: right;

  color: #FF6F00;
  border-top: 1px solid rgba(2, 119, 189,0.75);
  border-bottom: 1px solid rgba(2, 119, 189,0.75);
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);

  font-size: 24px;
  font-weight: 500;
}

/*==================
 Content
==================*/
div.main.supporting {
  display: inline-block;

  max-width: 550px;
  padding-bottom: 50px;
  padding-left: 30px;

  vertical-align: top;
}
div.preamble {
  max-width: 550px;

}
section.intro > div.preamble  {
  padding-right: 15px;
  padding-left: 15px;
}
section.intro > div.summary {
  margin-top: 30px;
}

section.intro > div.summary p {
  margin-bottom: 10px;

  text-align: right;

  font-style: italic;;
}


/*==================
 Sidebar
==================*/

aside.sidebar {
  position: absolute;
  top: 320px;
  right: 0;

  overflow: hidden;

  width: 336px;
}
aside.sidebar > div.wrapper {
  overflow: hidden;
}
aside.sidebar > div.wrapper > div h3 {
  position: relative;
  left : 5px;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;

  transform: skewX(-20deg);

  background-color: #FFEB3B;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.42);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.42);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.42);
}
aside.sidebar > div.wrapper > div > nav ul,
aside.sidebar > div.wrapper > div.zen-resources > ul {
  margin-top: 0;
  margin-bottom: 0;

}
aside.sidebar > div.wrapper > div > nav ul li,
aside.sidebar > div.wrapper > div.zen-resources > ul li {
  margin-left: -30px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 15px;

  list-style-type: none;

  background-color: rgba(2, 119, 189,0.75);
}
aside.sidebar > div.wrapper > div > nav ul li,
aside.sidebar > div.wrapper > div > nav ul li > a:link,
aside.sidebar > div.wrapper > div > nav ul li > a:visited,
aside.sidebar > div.wrapper > div.zen-resources > ul li > a:link,
aside.sidebar > div.wrapper > div.zen-resources > ul li > a:visited,
aside.sidebar > div.wrapper > div.zen-resources > ul li {
  color: #FFF;

  font-weight: bold;
}
aside.sidebar > div.wrapper > div > nav ul li > a:hover,
aside.sidebar > div.wrapper > div.zen-resources > ul li > a:hover {
  color: #FFEB3B;

  font-weight: bold;
}
aside.sidebar > div.wrapper > div > nav ul li:hover,
aside.sidebar > div.wrapper > div.zen-resources > ul li:hover {
  cursor: pointer;

  background-color: #0288D1;
}
aside.sidebar > div.wrapper > div > nav ul li:first-child,
aside.sidebar > div.wrapper > div.zen-resources > ul li:first-child {
  padding-top: 8px;
}

/*==================
 Footer
==================*/
footer  {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;

  background-color: rgba(2, 119, 189,0.75);
}
footer > a:link,
footer > a:visited,
footer > a:hover {
  margin-right: 30px;
  padding-top: 15px;

  font-weight: bold;
}
footer > a:link {
  color: #FFF;

}
footer > a:hover {
  color: #FFEB3B;
}
